#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  border: none !important;
}

ion-label {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 12px;
}

ion-item h2 {
  font-weight: 600;
  font-size: 1.1em;
  margin: 0;
}

ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-item ion-note {
  font-size: 0.9em;
  margin-right: 8px;
  font-weight: normal;
  color: #fff;
  background-color: #424242;
  padding: 4px 7px 2px 6px;
  border-radius: 8px;
}

ion-item ion-note.md {
  margin-right: 14px;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot-unread {
  background: var(--ion-color-primary);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

.divItem {
  width: 100%;
  padding: 3px;
  margin: 2px 5px 2px 5px;
  border-radius: 15px;
}

.divPayDay {
  font-size: 1.2em;
}

.divPayValue {
  padding-left: 3px;
  margin: 0px;
  font-size: 1em;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  border: none !important;
}

ion-label {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 12px;
}

ion-item h2 {
  font-weight: 600;
  font-size: 1.1em;
  margin: 0;
}

ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-item ion-note {
  font-size: 0.9em;
  margin-right: 8px;
  font-weight: normal;
  color: #fff;
  background-color: #424242;
  padding: 4px 7px 2px 6px;
  border-radius: 8px;
}

ion-item ion-note.md {
  margin-right: 14px;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot-unread {
  background: var(--ion-color-primary);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

.divItem {
  width: 100%;
  padding: 3px;
  margin: 2px 5px 2px 5px;
  border-radius: 15px;
}

.divPayDay {
  font-size: 1.2em;
}

.divPayValue {
  padding-left: 3px;
  margin: 0px;
  font-size: 1em;
}
