<ion-item *ngIf="conta" [routerLink]="'/conta/' + conta.Id" [detail]="false">
  <div [style.backgroundColor]="conta.Paga?'#97e7b7':'#97e0e7'" style="width:100%">
    <ion-label class="ion-text-wrap">
      <h2 [style.text-decoration]="conta.Paga?'line-through':'none'">
        <span>
          {{ conta.Descricao }}
        </span>
        <span class="date">
          <ion-note>{{ conta.DiaVencimento }}</ion-note>
        </span>
      </h2>
      <h3>R${{ conta.Valor | number:'1.2-2' }}</h3>
    </ion-label>
  </div>
</ion-item>